<div class="wrapper">
  <main id="content-tabs">
    <ul class="tabs group">
      <li class="tab">Questions</li>
      <li class="tab">Users</li>
    </ul>


    <article class="tab-pane questions">
    </article>
    <article class="tab-pane users">
    </article>
  </main>
</div>



<script>
  $(function() {
    $('#content-tabs').Tabs();
  })
</script>
