<div class="wrapper">
  <main id="content-tabs">
    <ul class="tabs group">
      <li class="tab">Your Answer Requests</li>
      <li class="tab">Most Requested</li>
    </ul>


    <article class="tab-pane specific-requests">
    </article>
    <article class="tab-pane most-requested">
    </article>
  </main>
</div>



<script>
  $(function() {
    $('#content-tabs').Tabs();
  })
</script>
