<main class="backbone-content">

  <nav class="nav">
  <nav class="navbar group">
    <ul class="nav-left group">
      <li><a href="#">KnowledgEase</a></li>
      <li><a href="#/users">Users</a></li>

      <li><a href="#/answer_questions">Answer</a></li>
      <!-- <li>Notifications</li> -->
    </ul>

    <nav class="userNav">

      <ul class="nav-right group">
        <li class="search-bar">
          <label for="search">Search:</label>
          <input type="search" name="query" value="" id="search">
          <ul class="search-results">
          </ul>
        </li>

        <% if current_user %>
          <li>
            <a href="#/users/<%= current_user.id%>">
              Profile
            </a>
          </li>
          <li><button class="sign-out">Sign Out</button></li>
        <% else %>
          <li><button class="sign-up">Sign Up</button></li>
          <li><button class="sign-in">Sign In</button></li>
        <% end %>
      </ul>
    </nav>

  </nav>
</nav>

  <section class="modal"></section>

  <section class="question-form"></section>
  <section class="content"></section>

  <footer>
    <footer class="footer-content">
      by Jasmine Noack
    </footer>
  </footer>
</main>
