<main class="backbone-content">

  <nav class="navbar group">
    <ul class="nav-left group">
      <li><a href="#">KnowledeEase</a></li>
      <li><a href="#">Questions</a></li>
      <li><a href="#/users">Users</a></li>

      <li>Answers</li>
      <li>Notifications</li>
    </ul>

    <nav class="userNav">
      <ul class="nav-right group">
        <% if current_user %>
          <li>
            <a href="#/users/<%= current_user.id%>">
              Profile
            </a>
          </li>
          <li><button class="sign-out">Sign Out</button></li>
        <% else %>
          <li><button class="sign-up">Sign Up</button></li>
          <li><button class="sign-in">Sign In</button></li>
        <% end %>
      </ul>
    </nav>

  </nav>

  <section class="modal"></section>
  <section class="question-form"></section>
  <section class="content"></section>
</main>
