
<form action="<%= sessions_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">username</label>
  <input type="text" name="username">

  <label for="password">password</label>
  <input type="password" name="password">

  <button>Submit</button>
</form>
