<h1>KnowledgEase</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Welcome to the KnowledgEase! Click on the link below to activate your account:
</p>

<a href="/api/account_activations/<%= @user.id %>/edit?activation=<%= @user.activation_digest %>&email=<%= @user.email %>">
Activate!</a>
