<h1>Users</h1>

<ul>
<% users.each(function (user) { %>
  <li>
      <a href="#/users/<%= user.id %>">
        <%= user.escape("name") %>
      </a>
    <ul>
      <li class="location"><%= user.escape("location") %></li>
    </ul>
  </li>
<% }) %>
</ul>
