<h1><%= user.escape("name") %></h1>
<p><%= user.escape("biography") %></p>
<p><%= user.escape("location") %></p>

<% if (user.get("current_user")) { %>
  <a href="#/users/<%= user.id %>/edit">edit</a>
:p
<% } %>

<section class="questions">
</section>

<a href="javascript:history.back()">back</a>
