<h1><%= user.escape("name") %></h1>
<p><%= user.escape("biography") %></p>
<p><%= user.escape("location") %></p>

<% if (user.get("current_user")) { %>
  <a href="#/users/<%= user.id %>/edit">edit</a>
:p
<% } else { %>
  <section class="follow-button"></section>
<% } %>

<h1>Questions</h1>
<section class="questions">
</section>

Known Topics
<section class="topics"></section>

<h1>Comments</h1>
<ul class="commentIndex">
</ul>

<a href="javascript:history.back()">back</a>
