<section class="comment-button">
  <button>See Comments</button>
</section>
<ul class="comments"></ul>

<form class="new-comment">
  <textarea name="body"></textarea>
  <button>Add Comment</button>
</form>
