<form class="sign-up">
<h1>Sign Up</h1>
<div class="failure"></div>
  <label for="username">username</label>
  <input id="username" type="text" name="user[username]">

  <label for="email">email</label>
  <input id="email" type="text" name="user[email]">

  <label for="password">password</label>
  <input id="password" type="password" name="user[password]">

  <label for="password_confirmation">password</label>
  <input id="password_confirmation" type="password" name="user[password_confirmation]">

  <button>Submit</button>
</form>
