<form class="sign-up group">
<p><div class="failure"></div></p>
<h1>Sign Up</h1>

  <p class="group">
  <label for="username">username</label>
  <input id="username" type="text" name="user[username]">
  </p>
  <p class="group">
  <label for="email">email</label>
  <input id="email" type="text" name="user[email]">
  </p>
  <p class="group">
  <label for="password">password</label>
  <input id="password" type="password" name="user[password]">
  </p>
  <p class="group">
  <label for="password_confirmation">password</label>
  <input id="password_confirmation" type="password" name="user[password_confirmation]">
  </p>
  <p class="group">
  <button>Submit</button>
  </p>
  <button class="close" type="button">X</button>

  <a href="https://github.com/login/oauth/authorize">Authenticate With Github</a>
</form>
