<form class="sign-up">
  <label for="username">username</label>
  <input type="text" name="user[username]">

  <label for="email">email</label>
  <input type="text" name="user[email]">

  <label for="password">password</label>
  <input type="password" name="user[password]">

  <label for="password_confirmation">password</label>
  <input type="password" name="user[password_confirmation]">

  <button>Submit</button>
</form>
