<form class="sign-in">
<h1>Sign In</h1>
<div class="failure"></div>
  <label for="username">username</label>
  <input id="username" type="text" name="username">

  <label for="password">password</label>
  <input id="password" type="password" name="password">

  <button>Submit</button>
</form>
