<form class="sign-in group">
<p><div class="failure"></div></p>
<h1>Sign In</h1>

  <p class="group">
  <label for="username">username</label>
  <input id="username" type="text" name="username">
  </p>
  <p class="group">
  <label for="password">password</label>
  <input id="password" type="password" name="password">
  </p>
  <p class="group">
  <button>Submit</button>
  </p>
  <button class="close" type="button">X</button>
</form>
