<ul class="nav-right group">
<li class="search-bar">
  <label for="search">Search:</label>
  <input type="search" name="query" value="" id="search">
  <ul class="search-results">
  </ul>
</li>
<li>
  <a href="#/users/<%= user.id%>">
    Profile
  </a>
</li>
<li><button class="sign-out">Sign Out</button></li>
</ul>
