<ul class="nav-right group">
<li class="search-bar">
  <label for="search">Search:</label>
  <input type="search" name="query" value="" id="search">
  <ul class="search-results">
  </ul>
</li>
<li><button class="sign-up">Sign Up</button></li>
<li><button class="sign-in">Sign In</button></li>
<li><a href="#/guests" class="guest">Guest</a></li>
</ul>
