<select>

  <option
    name="topic_id"
    value=""
  >

  <% topics.each(function (dropTopic) { %>
    <option
      name="topic_id"
      value="<%= dropTopic.id %>"

      <% if (topic && topic.escape("title") === dropTopic.escape("title")) { %>
        selected
      <% } %>

    >
      <%= dropTopic.escape("title") %>
    </option>
  <% }) %>
</select>

<button>remove</button>
