<h1><%= topic.escape("title") %></h1>
<p><%= topic.escape("description") %></p>
<section class="follow-button-topic"></section>
<a href="javascript:history.back()">back</a>

<section class="questions">
</section>
