<h1><%= topic.escape("title") %></h1>

<button class="edit-topic">Edit Topic</button>
<section class="topic-form"></section>

<p><%= topic.escape("description") %></p>
<section class="follow-button-topic"></section>
<a href="javascript:history.back()">back</a>

<section class="questions">
</section>
