<form>
<h1>Edit <%= topic.escape("title") %> </h1>
<p class="group"><label for="title">Title:</label>
<input type="text" name="title" value="<%= topic.escape("title") %>" id="title">
</p>
<p class="group"><label for="description">Description:</label>
<textarea id="description" name="description"><%= topic.escape("description") %></textarea>
</p>
<p class="group"><button>submit</button></p>
<button class="close" type="button">X</button>
</form>
