<section class="ask-question group">
<h1>Ask A Question:</h1>
<div class="failure"></div>
<input
  id="question"
  type="text"
  name="question"
  class="add-question-input"
  value="<%= question.escape("question") %>"
>
</section>
