<div class="collapse-card">

  <div class="collapse-card__heading">
    <div class="collapse-card__title group">
      <i class="fa fa-question-circle fa-2x fa-fw"></i>
        <span class="left"> <%= question.question %></span>
        <span class="right"> <%= question.author.name %></span>
    </div>
  </div>

  <div class="collapse-card__body clear">

  </div>

</div>
