<p><button type="button" class="close">X</button></p>
<p><button type="button" class="add-description">add description</button></p>
<p><button type="button" class="add-topics">add topics</button></p>
<p><button class="create">Create</button></p>
