<button type="button" class="close">X</button>
<p class="group"><button type="button" class="add-description">add description</button></p>
<p class="group"><button type="button" class="add-topics">add topics</button></p>
<p class="group"><button class="create">Create</button></p>
