<% if (question.isNew()) { %>
  <form class="question-form">
  Create a Question!
<% } else { %>
  <form class="question-form-edit">
  Edit Question
<% } %>

<div class="failure"></div>

<label for="question">Question</label>
<input
  id="question"
  type="text"
  name="question"
  value="<%= question.escape("question") %>"
>

<label for="description">Description</label>
<textarea name="description" id="description"
  ><%= question.escape("description") %></textarea>


<button>
  <% if (question.isNew()) { %>
    Create
  <% } else { %>
    Update
  <% } %>
</button>

</form>
