<% if (question.isNew()) { %>
  <form class="question-form">
  Create a Question!
<% } else { %>
  <form class="question-form-edit">
  <h1>Edit Question</h1>
<% } %>

<div class="failure"></div>

<p class="group"><label for="question">Question</label>
<input
  id="question"
  type="text"
  name="question"
  value="<%= question.escape("question") %>"
></p>

<p class="group"><label for="description">Description</label>
<textarea name="description" id="description"
  ><%= question.escape("description") %></textarea>
</p>

<p class="group"><button>
  <% if (question.isNew()) { %>
    Create
  <% } else { %>
    Update
  <% } %>
</button>
</p>
<button class="close" type="button">X</button>
</form>
