<h1><%= question.escape("question") %></h1>
<p><%= question.escape("description") %></p>

<% if (question.author().get("current_user")) { %>
  :p
  <a href="questions/<%= question.id %>/edit">edit</a>
<% } %>

<a href="javascript:history.back()">back</a>
