.question-form {
  background: yellow;
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background: #FCECE8;
  border: 2px solid #CBCBC1;
  position: relative;
}

section.ask-question {
  margin: auto;
  position: relative;
}

.ask-question input, .ask-question textarea {
  display: inline-block;
  margin: 10px;
  width: 400px;
  text-align: left;
  float: right;
}

.ask-question textarea {
  height: 100px;
}

.ask-question label{
  display: inline-block;
  margin: 10px;
  text-align: right;
  float: left;
  width: 100px;
}

.ask-question button {
  padding: 5px 10px;
}

.ask-question p {
  display: block;
}

.ask-question h1 {
  padding: 5px 10px;
  float: left;
  font-size: 20px;
}

.ask-question .create {
  right: 10px;
  display: block;
  position: relative;
  float: right;
}
.ask-question .close {
  padding:0;
  margin: -25px -15px;
}

.ask-question button.close:hover {
  background: #CBCBC1;
}

.question-form form {
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  background: transparent;
}

.question-form .failure {
  margin: auto;
  width: 400px;
  margin-bottom: 10px;
}

.tt-dropdown-menu {
  background: #F6F6F6;
  width: 100%;
}

.tt-dataset-topics {
  border: 1px solid #CBCBC1;
}

.tt-highlight {
  background: #FCECE8;
}

.topic-item {
  display: inline;
  padding: 0;
  margin: 0;
}

.topic-item button {
  display: inline;
  padding: 0;
  margin: 0;
  padding-left: 5px;
  padding-top: 10px;
}

.twitter-typeahead {
  display: inline-block;
  margin: 10px;
  width: 400px;
  text-align: left;
  float: right;
}

.twitter-typeahead input {
  display: inline-block;
  margin: 0;
  width: 400px;
  text-align: left;
  float: right;
}
