

.w10 a{
  font-size: 30px;
  color: #3399DD;
}

.w9 a{
  font-size: 28px;
  color: #47a3e0;
}

.w8 a{
  font-size: 26px;
  color: #47a3e0;
}

.w7 a{
  font-size: 24px;
  color: #5bade3;
}

.w6 a{
  font-size: 22px;
  color: #70b7e7;
}

.w5 a{
  font-size: 20px;
  color: #84c1ea;
}

.w4 a{
  font-size: 18px;
  color: #99ccee;
}

.w3 a{
  font-size: 16px;
  color: #add6f1;
}

.w2 a{
  font-size: 14px;
  color: #c1e0f4;
}

.w1 a{
  font-size: 12px;
  color: #d6eaf8;
}
