#cloud {
  height: 400px;
  width: 760px;
  margin: auto;
}

.w10 a{
  font-size: 36px;
  color: #3399DD;
}

.w9 a{
  font-size: 34px;
  color: #45A1DE;
}

.w8 a{
  font-size: 32px;
  color: #58A8DF;
}

.w7 a{
  font-size: 30px;
  color: #6AB0E0;
}

.w6 a{
  font-size: 28px;
  color: #7CB7E1;
}

.w5 a{
  font-size: 26px;
  color: #8EBFE2;
}

.w4 a{
  font-size: 24px;
  color: #A1C6E3;
}

.w3 a{
  font-size: 22px;
  color: #B3CEE4;
}

.w2 a{
  font-size: 20px;
  color: #C5D5E5;
}

.w1 a{
  font-size: 18px;
  color: #D7DDE6;
}
