.navbar {
  background: #CBCBC1;
}

.nav-right {
  float: right;
}

.nav-right li {
  float: left;
  border-left: 1px solid #B6AEA1;
}

.navbar a, .navbar button {
  border: 0;
  padding: 20px;
  display: block;
}

:focus {
  outline: 0;
  border: 3px double #E7512D;
  border-radius: 10px
}

.navbar li a:hover, .navbar button:hover {
  background: #E7512D;
}

:disabled {
  color: #CBCBC1;
}

:disabled:hover {
  color: #CBCBC1;
}

.nav-right input {
  display: inline-block;
  margin-right: 20px;
}

.search-bar label {
  padding: 20px;
  padding-right: 5px;
  margin: 0px;
}


.userNav {

}

.nav-left {
  float: left;
}

.nav-left li {
  float: left;
  border-right: 1px solid #B6AEA1;
}
