.question-page {
  position: relative;
  background: #FCECE8;
  border: 2px solid #CBCBC1;
  border-radius: 20px;
  padding: 20px;
}

.question-page h1 {
  margin-bottom: 5px;
}

.question-page h2 {
  margin-bottom: 5px;
}

.question-page p {
  margin-bottom: 5px;
}

.question-page button {
  margin-bottom: 5px;
}

.question-page .non-sidebar{
  padding-right: 20px;
  width: 604px;
}

.question-page .thumb {
  display: inline-block;
}

.question-page .new-comment{
  margin: 0px;
  border: 0;
  padding: 0;
  border-radius: 0;
  background: transparent;
  display: block;
  float: left;
  width: 100%;
}

.question-page .new-comment textarea{
  margin: 0px;
  margin-bottom: 10px;
  display: block;
  width: calc(100% - 15px);
}

.question-page .create-answer {
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;
  width: calc(100% - 20px);
}

.question-page .create-answer textarea {
  width: calc(100% - 15px);
}
