
ul, li, h1, h2, h3, h4, h5, h6, p, div, section, article, a, body, html, button, input, textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-align: inherit;
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  list-style: none;
}

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 18px;
}

/**/


.location {
  color: grey;
  font-size: 14px;
}


button, input, textarea {
  border: 2px solid black;
}

h1{
  color: blue;
  font-size: 22px;
  font-weight: 700px;
}

a{
  color: red
}
