.topic-page {
  position: relative;
  background: #FCECE8;
  border: 2px solid #CBCBC1;
  border-radius: 20px;
  padding: 20px;
}

.topic-page h1 {
  margin-bottom: 5px;
}

.topic-page p {
  margin-bottom: 5px;
}

.topic-page .non-sidebar h2 {
  margin-bottom: 5px;
  font-weight: bold;
}
