<form class="guests">
  <h1>Who would you like to signin as:</h1>
  <button data-username="Sennacy" type="button">Sennacy</button>
  <button data-username="constance" type="button">Constance</button>
  <button data-username="uberMensch" type="button">Fred Nietzsche</button>
  <button data-username="startrek" type="button">Gene Roddenbery</button>
  <button data-username="Matz" type="button">Yukihiro Matsumoto</button>
  <button class="close" type="button">X</button>
</form>
